<p style="color: green"><%= notice %></p>

<%= render @phone_directory %>

<div>
  <%= link_to "Edit this phone directory", edit_phone_directory_path(@phone_directory) %> |
  <%= link_to "Back to phone directories", phone_directories_path %>

  <%= button_to "Destroy this phone directory", @phone_directory, method: :delete %>
</div>
